a {
	cursor: pointer;
}

#e-tooltip {
	background: rgba(243,230,193,0.9);
	border: 1px solid #7d510f;
	border-radius: 4px;
	box-shadow: 5px 5px 4px rgba(0,0,0,0.33);
	left: -9999px;
	padding: 2px;
	position: absolute;
	text-align: center;
	text-shadow: rgba(0,0,0,0.4) 0 0 1;
	z-index: 30000;
	max-width: 300px;
}

#e-tooltip p {
	background-color: #222;
	color: #fff;
	margin: 0;
	padding: 2px 7px;
}

.e {
	font-family: Arial, Helvetica!important;
	font-size: 12px!important;
}

.e-assistent input[type=text] {
	width: 26px;
}

.e-bar {
	padding: 0 3px;
}

.e-farm .e-seachvillages {
	margin: 4px 0;
}

.e-farm input[type=text] {
	width: 47px;
}

.e-farm textarea {
	font-size: 10px;
	height: 40px;
	outline: none;
	resize: none;
	width: 200px;
}

.e-farm ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.e-filter input[type=text] {
	width: 37px;
}

.e-stats img.e-twmGraph {
	opacity: 0.8;
}

.e-green,.g {
	color: #319c41;
}

.e-icon {
	background-repeat: no-repeat;
	display: inline-block;
	overflow: hidden;
}

.e-icon._timer {
	background-image: url(https://i.imgur.com/bZ52BFt.png);
	background-size: 12px;
	height: 12px;
	vertical-align: -2px;
	width: 12px;
	margin: 0 2px;
}

.e-icon.filter {
	background-image: url(https://i.imgur.com/bqiYZxO.png);
	background-size: 12px;
	height: 12px;
	vertical-align: -2px;
	width: 12px;
}

.e-icon.hide {
	background-image: url(https://i.imgur.com/6kcb7p5.png);
	background-size: 8px;
	cursor: pointer;
	height: 8px;
	margin: 4px;
	position: absolute;
	right: 0;
	width: 8px;
}

.e-icon.loading {
	background-image: url(https://i.imgur.com/o4yrIuK.gif);
	background-size: 8px;
	height: 8px;
	vertical-align: -1px;
	width: 8px;
}

.e-icon.pause {
	background-image: url(https://i.imgur.com/9kNOLnZ.png);
	background-size: 9px;
	height: 9px;
	vertical-align: -1px;
	width: 9px;
}

.e-icon.place {
	background-image: url(http://i.imgur.com/dw56h22.png);
	background-size: 11px;
	height: 11px;
	vertical-align: -1px;
	width: 11px;
}

.e-icon.play {
	background-image: url(https://i.imgur.com/LgciHkE.png);
	background-size: 9px;
	height: 9px;
	vertical-align: -1px;
	width: 9px;
}

.e-icon.rename {
	background-image: url(https://i.imgur.com/XYcXwnn.png);
	background-size: 12px;
	cursor: pointer;
	height: 12px;
	margin: 0 3px;
	vertical-align: -2px;
	width: 12px;
}

.e-menu {
	background: #f4e4bc;
	border: 1px solid #f6e2c1;
	box-shadow: #92795b 0 0 0 1px rgba(0,0,0,0.8) 1px 1px 3px;
	position: absolute;
	z-index: 9999;
}

.e-menu .e-container {
	border-radius: 2px;
	margin-top: 1px;
	max-height: 500px;
	overflow-y: auto;
}

.e-menu .e-container::-webkit-scrollbar {
	width: 7px;
}

.e-menu .e-container::-webkit-scrollbar-corner {
	background: #c9a969;
}

.e-menu .e-container::-webkit-scrollbar-thumb {
	background: #c9a969;
	margin-top: 10px;
}

.e-menu header {
	background: #e0c58c;
	border: 1px solid #d5b471;
	border-radius: 2px;
	box-shadow: #f6e2c1 0 1px 0 0;
	cursor: move;
	height: 18px;
	line-height: 18px;
}

.e-menu header span:first-child {
	margin-left: 4px;
	vertical-align: -1px;
}

.e-menu section {
	border: 1px solid #d5b471;
}

.e-orange,.o {
	color: #e89600;
}

.e-panel {
	background: #e3d5b3 url(http://i.imgur.com/9WweYwv.jpg);
	border: 1px solid #a55436;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), 0 2px 10px #000;
	letter-spacing: .03em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: rgba(0,0,0,0.15) 0 1px 0;
	z-index: 20;
}

.e-panel .e-content {
	font-weight: 700;
}

.e-panel header {
	background: url(http://i.imgur.com/zNz7ODE.png);
	box-shadow: rgba(39,21,15,0.3) 0 -1px 5px inset, rgba(208,207,207,0.3) 0 2px 5px inset;
	cursor: move;
	font-weight: 700!important;
	padding: 3px 0;
}

.e-panel header,.e-panel section {
	float: left;
	line-height: 15px;
	width: 100%;
}

.e-panel input,.e-panel select {
	border: 1px solid #7a6f55;
	border-radius: 3px;
	font-size: 12px;
	height: 13px;
	margin: 0 1px 0 0;
	outline: none;
}

.e-panel input[type=button],
.e-panel select {
	border: 1px solid #d0bf93;
	cursor: pointer;
	font-weight: 700;
	height: auto;
	padding: 2px 4px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 5px inset, rgba(255, 255, 255, 0.56) 0px 2px 5px inset;
	background: #f5deae;
}

.e-panel input[type=radio],.e-panel input[type=checkbox] {
	vertical-align: -3px;
	width: 12px;
}

.e-panel input[type=text],.e-panel textarea {
	box-shadow: rgba(0, 0, 0, 0.16) 0px -1px 5px inset, rgba(255, 255, 255, 0.56) 0px 2px 5px inset;
	background: #f5deae;
	border: 1px solid #d0bf93;
	border-radius: 3px;
	color: #4c4c4c;
	outline: none;
	text-align: center;
}

.e-panel p {
	margin: 2px 0;
}

.e-panel section {
	border-top: 1px solid #7D510F;
	padding: 6px 0 4px;
}

.e-panel section > div.block {
	width: 50%;
	float: left;
}

.e-panel section > div:nth-child(even) {
	text-align: center;
}

.e-panel section > div:nth-child(odd) {
	text-align: center;
}

.e-panel section a {
	font-weight: 400;
}

.e-panel section:last-child {
	border-bottom: none;
}

.e-panel hr {
	border-style: inherit;
	border-width: 1px;
	background: #7d510f;
	opacity: 0.5;
	width: 50%;
}

.e-panel table {
	width: 100%;
}

.e-red,.r {
	color: #e65252;
}

.e-table {
	width: 100%;
}

.e-table td,.e-table th {
	text-align: center;
	white-space: nowrap;
}

.e-timer input.e-date {
	padding: 1px 7px;
	width: 63px;
}

.e-timer input.e-time {
	padding: 1px 7px;
	width: 50px;
}

.e-timer textarea {
	height: 100px;
	width: 300px;
}

.e-title {
	font-size: 13px;
	font-weight: 700;
}